body{
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 40px; 
    margin-right: 40px;
}
.Main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 4px;
    color: white;
}
.Header{
    grid-column: span 12;
    background-color: black;
    color: white;
    font-size: 18px;
}
#accessibility {
    margin-top: 10px;
    margin-left: 87%;
    position: absolute;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 50px;
    padding:5px;
    margin: 5px;
}
li{
    display: inline-block;
}
ul > li img {
    width: 35px;
    height: 52.25px;
}
.Header > hr {
    width: 70%;
}
li:hover{
    color: #EB34EE;
    cursor:pointer;
} 
#logo:hover{
    transform: scale(1.3);
    cursor:pointer;
}


.Space0{
    grid-column: span 12;
    background-color: black;
    height: 80px;
    color: black;
}


.Home1{
    grid-column: span 6;
    background-color: black;
    display: flex;
    padding: 10px;
    margin: 15px;
    align-items:center;
    justify-content: center;
}
.Home1 > img {
    height: 452px;
    width: 425px;

}
.Home2{
    grid-column: span 6;
    background-color: black;
    padding: 10px;
    margin: 15px;
    text-align: center;
    position: relative;
}

.Home2 > img{
    z-index:500;
}


.Space1 {
    grid-column: 12 span;
    background-color: black;
    height: 120px;
    color: white;
    display: flex;
    margin-left: 5%;
}
.Space1 > p {
    display: inline-block;
    margin-top: 60px;
    font-size: 24px;
}




.Work1{
    grid-column: span 12;
    background-color: black;
    padding: 5px;
    margin: 10px;
    position: relative;
    height: 640px;
}
#titleWork{
    font-size: 20px;
    margin-left: 10%;
}
#auditionwireframe{
    z-index:1000;
    right: 200px;
    position: absolute;
}
#auditiondescription{
    position: absolute;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    left: 530px;
    top: 300px;
    width: 30%;
    z-index: 500;
    color: black;
    font-family: Georgia;
    text-align: justify;
}
.Work1 > .btn{
    width: 150px;
    height: 25px;
    bottom: 75px;
    left: 870px;
    position: absolute;
    background-color: #EB34EE;
    color: white;
    border-radius: 50px;
}
.Work2{
    grid-column: span 12;
    background-color: black;
    padding: 5px;
    margin: 10px;
    position: relative;
    height: 640px;
}
#treasurywireframe{
    z-index:1000;
    left: 200px;
    position: absolute;
}
#treasurydescription{
    position: absolute;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    left: 525px;
    top: 300px;
    width: 30%;
    z-index: 500;
    color: black;
    font-family: Georgia;
    text-align: justify;
}
.Work2 > .btn{
    width: 150px;
    height: 25px;
    bottom: 75px;
    left: 585px;
    position: absolute;
    background-color: #EB34EE;
    color: white;
    border-radius: 50px;
}


.Space2 {
    grid-column: 12 span;
    background-color: black;
    height: 180px;
    color: white;
    display: flex;
    margin-left: 5%;
}
.Space2 > p {
    display: inline-block;
    margin-top: 120px;
    font-size: 24px;
}


.Skills1{
    grid-column: span 6;
    background-color: black;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: center;

}
.skillsUXUI {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding:5px;
    margin: 10px;
}
.skillsSoft {
    display:flex;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding:5px;
    margin: 10px;
}
.skillsTechnology {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding:5px;
    margin: 10px;
}
.skillsInterests {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding:5px;
    margin: 10px;
}
.Skills2 {
    grid-column: span 6;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 15px;
    text-align: center;
    position: relative;
}
.centeredtextSkills2 {
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.centeredbelowrighttextSkills2 {
    position: absolute;
    top: 68%;
    left: 50%;
}
.Skills2 > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#skillsUXUI1 {
    color: #FABD37;
}
#skillsSoft1 {
    color: #FABD37;
}
#skillsTechnology1 {
    color: #FABD37;
}
#skillsInterests1 {
    color: #FABD37;
}


.Space3 {
    grid-column: 12 span;
    background-color: black;
    height: 120px;
    color: black;
}
a {
    color: #FABD37;
    font-size: 32;
    font-family: Arial;
    margin-left: 5%;
}


.Footer1{
    grid-column: span 12;
    background-color: black;
}
hr {
    width: 80%;
}
#letsconnect{
    margin-left: 120px;
    font-size: 20px;
}
.mainFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.contactFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;  
}
.numberFlex{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.locationFlex{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.numberFlex, .locationFlex{
    flex-wrap: wrap;
    margin: 5px;
    width: 200px;
}
.numberFlex > img{
    height: 32px;
    width: 22px;
}
.locationFlex > img{
    height: 26px;
    width: 22px;
}
#number {
    display: inline-block;
    margin-bottom: 15px;
}
#location {
    display: inline-block;
    margin-bottom: 15px;
}
.socialmediaFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%; 
}
#copyright{
    margin-left: 120px;
    font-size: 10px;
}









@media screen and (max-width: 600px) {
    body {
        background-color: black;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px; 
        margin-right: 5px;
    }
    .Main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1px;
        color:white;
    }
    .Header{
        grid-column: span 12;
        background-color: black;
        color: white;
        font-size: 12px;
    }
    #accessibility {
        margin-top: 5px;
        margin-left: 90%;
        position: absolute;
        height:19px;
        width: 19px;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        height: 30px;
        padding:5px;
        margin: 5px;
    }
    li{
        display: inline-block;
    }
    ul > li img {
        width: 22.75px;
        height: 33.96px;
    }
    .Header > hr {
        width: 75%
    }
    li:hover{
        color: #EB34EE;
        cursor:pointer;
    } 
    #logo:hover{
        transform: scale(1.3);
        cursor:pointer;
    }
    
    
    .Space0{
        grid-column: span 12;
        background-color: black;
        height: 10px;
        color: black;
    }
    
    


    .Home1{
        grid-column: span 12;
        background-color: black;
        display: flex;
        padding: 3px;
        margin: 5px;
        align-items:center;
        justify-content: center;
        height: 323.88px;
    }

    .Home1 > img {
        height: 225px;
        width: 212.5px;
    }
    .Home2{
        grid-column: span 12;
        background-color: black;
        text-align: center;
        padding: 3px;
        margin: 5px;
        position: relative;
        height: 323.88px;
    }
    .Home2 > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 300px;
    }
    .Home2 > img{
        z-index:500;
    }


    .Space1 {
        grid-column: 12 span;
        background-color: black;
        height: 60px;
        color: white;
        display: flex;
        margin-left: 5%;
    }
    .Space1 > p {
        display: inline-block;
        margin-top: 6px;
        font-size: 14px;
    }


    .Work1{
        grid-column: span 12;
        background-color: black;
        padding: 5px;
        margin: 10px;
        height: 800px;
        position: relative;
    }
    .Work1 #auditionwireframe  {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 75%;
    }
    .Work1 #auditiondescription {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 1em;
        color: black;
        font-family: Georgia;
        font-size: 12px;
        width: 80%;
    }
    .Work1 .btn {
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 25px;
        background-color: #EB34EE;
        color: white;
        border-radius: 50px;
    }

    .Work2{
        grid-column: span 12;
        background-color: black;
        padding: 5px;
        margin: 10px;
        height: 800px;
        position: relative;
    }
    .Work2 #treasurywireframe{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 75%;
    }
    .Work2 #treasurydescription{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 1em;
        color: black;
        font-family: Georgia;
        font-size: 12px;
        width: 80%;
    }
    .Work2 > .btn{
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 25px;
        background-color: #EB34EE;
        color: white;
        border-radius: 50px;
    }
    

    .Space2 {
        grid-column: 12 span;
        background-color: black;
        height: 60px;
        color: white;
        display: flex;
        margin-left: 5%;
    }
    .Space2 > p {
        display: inline-block;
        margin-top: 6px;
        font-size: 14px;
    }

    
    .Skills1{
        grid-column: span 12;
        background-color: black;
        padding: 3px;
        margin: 5px;
        height: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 14px;
    }
    .skillsUXUI {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        text-align: center;
        padding:5px;
        margin: 10px;
    }
    .skillsSoft {
        display:flex;
        flex-direction: column;
        line-height: 50px;
        text-align: center;
        padding:5px;
        margin: 10px;
    }
    .skillsTechnology {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        text-align: center;
        padding:5px;
        margin: 10px;
    }
    .skillsInterests {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        text-align: center;
        padding:5px;
        margin: 10px;
    }


    .Skills2 {
        grid-column: span 12;
        background-color: black;
        height: 300px;
        padding: 3px;
        margin: 5px;
        position: relative;
        height: 300px;
    }
    .centeredtextSkills2 {
        line-height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        line-height: 20px;
    }
    .centeredbelowrighttextSkills2 {
        position: absolute;
        top: 60%;
        left: 50%;
        font-size: 12px;
    }
    .Skills2 > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 229px;
        width: 345px;
    }


    .Space3 {
        grid-column: 12 span;
        background-color: black;
        height: 120px;
        color: black;
        display: flex;
        justify-content: center;
    }
    a {
        color: #FABD37;
        font-size: 32;
        font-family: Georgia;
    }
    p {
        margin-top: 20%;
    }
    
    .Footer1{
        grid-column: span 12;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    hr {
        width: 90%;
    }
    .Footer1 > #letsconnect {
        margin: 5px;
    }
    .mainFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

    }
    .contactFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;  
    }
    .numberFlex{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    .locationFlex{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
    }
    .numberFlex, .locationFlex{
        flex-wrap: wrap;
        margin: 5px;
        width: 200px;
    }
    .numberFlex > img{
        height: 32px;
        width: 22px;
        margin-top: 10%;
    }
    .locationFlex > img{
        height: 26px;
        width: 22px;
        margin-top: 10%;
    }
    #number {
        display: inline-block;
        margin-bottom: 15px;
    }
    #location {
        display: inline-block;
        margin-bottom: 15px;
    }
    .socialmediaFlex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%; 
        padding: 5px;
        margin: 5px;
    }
    #copyright{
        margin-left: 10%;
        font-size: 10px;
    }
    
}